{% extends "base.html" %}
{% load static %}
{% block title %}
  My Profile
{% endblock title %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/update.css' %}" />
{% endblock css %}
{% block content %}
  <div class="container mt-5">
    <div class="profile-management-form p-4">
      <h2 class="text-center mb-4">Profile management</h2>
      <form>
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text"
                 class="form-control"
                 id="fullName"
                 value="{{ user.name }}"
                 disabled>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 value="{{ user.email }}"
                 disabled>
        </div>
        <div class="mb-3">
          <label for="DateOfBirth" class="form-label">Date of Birth</label>
          <input type="date"
                 class="form-control"
                 id="DateOfBirth"
                 value="{{ date_of_birth }}"
                 disabled>
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="number"
                 class="form-control"
                 id="phoneNumber"
                 value="{{ user.phone_number }}"
                 disabled>
        </div>
        <div class="mb-3">
          <label for="Address" class="form-label">Address</label>
          <input type="text"
                 class="form-control"
                 id="Address"
                 value="{{ user.address }}"
                 disabled>
        </div>
        <br>
        <a class="btn btn-primary" href="/user/update">Update My Profile</a>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
{% endblock content %}
