{% extends "base.html" %}
{% load static %}
{% block title %}
  New Reservation
{% endblock title %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/new.css' %}" />
{% endblock css %}
{% block content %}
  <div class="container mt-5">
    <div class="new-reservation-form p-4">
      <h2>New Reservation</h2>
      <br>
      <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="checkIn" class="form-label">Check-In Date</label>
          {% if checkIn is not none %}
            <input type="date"
                   class="form-control"
                   id="checkIn"
                   name="checkIn"
                   required
                   value="{{ checkIn }}">
          {% else %}
            <input type="date" class="form-control" id="checkIn" name="checkIn" required>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="checkOut" class="form-label">Check-Out Date</label>
          {% if checkOut is not none %}
            <input type="date"
                   class="form-control"
                   id="checkOut"
                   name="checkOut"
                   required
                   value="{{ checkOut }}">
          {% else %}
            <input type="date"
                   class="form-control"
                   id="checkOut"
                   name="checkOut"
                   required>
          {% endif %}
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-warning">Check Availability</button>
        </div>
      </form>
      <form method="post" name="bookings" action="/reservation/book_room/">
        {% csrf_token %}
        <input type="date"
               class="form-control"
               id="checkIn"
               name="checkIn"
               required
               value="{{ checkIn }}"
               style="display: none">
        <input type="date"
               class="form-control"
               id="checkOut"
               name="checkOut"
               required
               value="{{ checkOut }}"
               style="display: none">
        <div class="mb-3">
          <label for="roomType" class="form-label">Room Type</label>
          <select class="form-select" id="roomType" name="roomType" required>
            <!-- <option value="deluxe">Deluxe Room</option>
          <option value="royal">Royal Room</option>
          <option value="premium">Premium Room</option> -->
            {% for room_type, count in room_type_counts.items %}
              {% if count > 0 %}<option value="{{ room_type }}">{{ room_type }}: {{ count }} rooms available</option>{% endif %}
            {% endfor %}
          </select>
        </div>
        <!--
      <div class="mb-3">
        <label for="room_type">Room Type</label>
        <select name="room_type" id="room_type">
          {% for room_type, room_count in available_rooms_by_type.items %}
          <option value="{{ room_type }}">{{ room_type }} ({{ room_count }} available)</option>
          {% endfor %}
        </select>
</div> -->
        {% comment %} <div class="mb-3">
        <label for="noOfRooms" class="form-label">Number of Rooms</label>
        <input type="number" class="form-control" id="noOfRooms" name="noOfRooms" min="1" required>
        </div> {% endcomment %}
        <div class="mb-3">
          <button type="submit" class="btn btn-warning">Book Room</button>
        </div>
        <!-- Display availability results here -->
        <div id="availabilityResult"></div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script>
    // Handle availability check button click
    $(document).ready(function() {
      $('#availabilityCheck').click(function() {
        // Replace this with your availability check logic
        // For demonstration purposes, a simple message is displayed
        $('#availabilityResult').html('<p>Availability: Available</p>');
      });
    });
  </script>
{% endblock content %}
