.new-reservation-form {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

.custom-yellow-button {
background-color: yellow;
color: black;
}